# APP
APP_ENV=development
SERVER_PORT=3000
CLIENT_PORT=4200

# DB (PostgreSQL)
DATABASE_USER=messenger
DATABASE_PASS=examplepass
DATABASE_NAME=zenith-erp
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_URL=postgresql://${DATABASE_USER}:${DATABASE_PASS}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}

# Keycloak
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=adminpass
#KEYCLOAK_URL=http://keycloak:80 # docker
KEYCLOAK_URL=http://localhost:8082
KEYCLOAK_REALM=zenith-realm
KEYCLOAK_CLIENT_ID=zenith-auth
KEYCLOAK_CLIENT_SECRET=secret

# Keycloak events
KEYCLOAK_EVENTS_CLIENT=zenith-events
KEYCLOAK_EVENTS_CLIENT_SECRET=secret
#KEYCLOAK_EVENTS_TARGET_URL=http://backend:3000 # docker
KEYCLOAK_EVENTS_TARGET_URL=http://host.docker.internal:3000 # local
KEYCLOAK_EVENTS_SECRET=secret
