<div class="flex h-screen flex-col overflow-hidden">
  <app-topbar />
  <div class="sidebar-content flex h-full flex-nowrap pt-16">
    <div
      [class]="
        (layoutService.isSidebarVisible() ? 'ml-0' : '-ml-[300px]') +
        ' hidden h-full w-[300px] flex-col overflow-hidden transition-all duration-200 ease-out md:flex'
      "
    >
      <div
        class="bg-surface-100 dark:bg-surface-900 mt-4 mb-4 ml-4 flex h-full flex-1 overflow-hidden rounded-md px-4 py-2"
      >
        <ng-container *ngTemplateOutlet="sidebar" />
      </div>
    </div>
    <div class="h-full flex-1 overflow-hidden">
      <div class="mx-auto my-0 flex h-full max-w-[1540px] flex-col">
        <div class="m-4">
          <router-outlet />
        </div>
      </div>
    </div>
  </div>

  @if (layoutService.isMobile()) {
    <p-drawer #drawerRef [(visible)]="layoutService.isSidebarVisiblePlain">
      <ng-template #headless>
        <div class="mx-4">
          <a routerLink="/" class="flex items-center gap-x-4 py-4">
            <img
              ngSrc="/zenitherp-logo.svg"
              alt="ZenithERP logo"
              height="40"
              width="40"
            />
            <span class="text-3xl"> ZenithERP </span>
          </a>
          <ng-container *ngTemplateOutlet="sidebar" />
        </div>
      </ng-template>
    </p-drawer>
  }
</div>

<ng-template #sidebar>
  <ul class="w-full overflow-auto">
    @for (item of sidebarItems; track item.label; let last = $last) {
      <li>
        <div class="my-2 text-sm select-none">{{ item.label }}</div>
        <ul class="flex flex-col gap-1">
          @for (subitem of item.children; track subitem.label) {
            <li>
              <a
                class="hover:bg-surface-200 dark:hover:bg-surface-800 flex items-center rounded px-2 py-1 transition-colors duration-200 ease-in-out"
                [routerLink]="subitem.link"
                routerLinkActive="bg-surface-200 dark:bg-surface-800"
              >
                <i class="pi pi-fw pi-gauge mr-2"></i>
                <span>{{ subitem.label }}</span>
              </a>
            </li>
          }
        </ul>
      </li>
      @if (!last) {
        <li class="my-2 h-[1px] w-full"></li>
      }
    }
  </ul>
</ng-template>
