<div class="m-8 flex flex-col gap-y-2">
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <div class="flex gap-x-2">
    <button
      class="cursor-pointer rounded bg-blue-500 p-2 text-white transition-colors duration-200 hover:bg-blue-400"
      (click)="oidc.authorize()"
    >
      Log in
    </button>
    <button
      class="cursor-pointer rounded bg-blue-500 p-2 text-white transition-colors duration-200 hover:bg-blue-400"
      (click)="logout()"
    >
      Log off
    </button>
  </div>
</div>
<router-outlet></router-outlet>
